[Unit]
Description="Indicateurs maj service"
Wants=indicateurs.timer

[Service]
Type=oneshot
Environment="exec=/home/indicateurs/Indicateurs-ELFE/prod.py"
ExecStart=/usr/bin/python3.9 ${exec}

[Install]
WantedBy=multi-user.target